extends common/layout-menu.pug

block content
    - 
        const formatDate = (dateString) => {
        const date = new Date(dateString);
        return date.toLocaleString();}
    main
        section.post
            h1.visually-hidden Пост
            section(class="post__content")
                h2.visually-hidden Основное содержание
                div(class="post__wrapper")
                    div(class="post__head")
                        a(href="#", class="post__backwards button button--backwards") Назад
                        time(class="post__date") #{formatDate(article.createdDate)}
                        h2(class="post__title title title--main") #{article.title}
                        ul.themes
                            each category of article.categories
                                li(class='themes__item')
                                    a(class='themes__item-link' href='#') #{category.name}
                                    button(class="themes__remove-btn", type="button") Удалить категорию
                    div(class="post__picture")
                        img(src=`${article.picture ? article.picture : ''}`, alt="")
                    div(class="post__text")
                        h3 #{article.title}
                        p #{article.text}
            div(class="post__wrapper post__wrapper--comments")
                section(class="post__comments comments")
                    if article.comments
                        h2(class="comments__title title title--middle") Комментарии
                        ul(class="comments__list")
                            each comment of article.comments
                                li(class="comments__comment")
                                    div(class="comments__avatar avatar")
                                        img(src="img/avatar-1.png", alt="аватар пользователя")
                                    div(class="comments__text")
                                        div(class="comments__head")
                                            p Евгений Петров •
                                            time(class="comments__date") #{formatDate(comment.createdAt)}
                                        p(class="comments__message") #{comment.text}
                        div(class="comments__footer comments__footer--user")
                            form(action="#", method="POST")
                                div(class="comments__avatar avatar")
                                    img(src="img/avatar-2.png", alt="аватар пользователя")
                                label
                                    textarea(rows="1", name="message", placeholder="Присоединиться к обсуждению")
                                button(type="submit", class="comments__button button button--colored") Опубликовать
                    else
                        h2(class="comments__title title title--middle") Комментарии отсутствуют
                        div(class="comments__footer comments__footer--visitor")
                            button(type="submit", class="comments__button button button--colored") Войти
                            div(class="comments__registration")
                                p.text.text--signature
                                    b.title.title--small Регистрация
                                    | Чтобы присоединиться к
                                    | переписке
                                    | нужно зарегистрироваться